#canvas {
    background-position: center;
    background-repeat: no-repeat;
}

.mdc-button::placeholder {
    color: white;
}

.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
    background: #7a00ff;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    color: #FFFFFF;
    background: #7a00ff;
}

.ui-datepicker table {
    width: 100%;
    font-size: .7em;
    border-collapse: collapse;
    font-family: verdana;
    margin: 0 0 .4em;
    color: #000000;
    background: #e7d9f7;
}


/*This is date TD */

.ui-datepicker td {
    border: 0;
    padding: 1px;
}

.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .8em;
    text-align: right;
    text-decoration: underline;
}

.box {
    display: inline-block;
    height: 24px;
    width: 45px;
    color: black;
    text-align: center;
    padding-top: 5px;
}

.progress {
    margin-bottom: 0;
}

.start {
    float: left;
}

.end {
    float: right;
    text-align: right;
}

.w3-grey,
.w3-hover-grey:hover,
.w3-gray,
.w3-hover-gray:hover {
    color: #000 !important;
    background-color: #9e9e9e !important
}

.summary-data-table {
    border-collapse: collapse;
}

.summary-data-table td {
    border-right: 15px solid #0075ff;
    padding: 7px;
}

.summary-data-table th {
    padding: 7px;
}

.summary-data-table tr td:last-child,
.summary-data-table tr th:last-child {
    border-right: 0;
}

.mdc-button--raised:not(:disabled),
.mdc-button--unelevated:not(:disabled) {
    background-color: #3f3067;
}

.hats-datatable {
    font-family: "Roboto", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.hats-datatable td,
.hats-datatable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.hats-datatable tr {
    border: 1px solid #ddd;
}

td,
th {
    height: 40px !important;
    padding-left: 10px;
    text-align: left !important;
}

.hats-datatable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.hats-datatable tr:hover {
    background-color: #ddd;
}

.hats-datatable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3f3067;
    color: white !important;
}

.siteAdd {
    margin-bottom: 20px;
}